@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'ComicBook';
    /* src: url('../fonts/comic.otf') format("opentype"); */
    src: url('./assets/fonts/comic.otf') format("opentype");
    font-style: normal;

}

:root {
    --html-font-size: 62.5%;
    --primary-color: #2f4de6;
    --font-color-img: #FFFFFF;
    --bg-alternative-color: #FFFFFF;
    --light-blue-color: #4a66ef;
    --body-font-family: 'Roboto', sans-serif;
    --text-font-family: 'ComicBook', sans-serif;
    --page-max-width: 120rem;
    --gap: 3rem;
    --secondary-color: #0aadff;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: var(--html-font-size);
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font-family);
    font-size: 2.1rem;
    color: var(--primary-color);
    line-height: 1.5;
}

.scroll-hide {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-hide::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--text-font-family);
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--font-color-img);
}

.white-bg {
    background: var(--bg-alternative-color);
    color: var(--primary-color);
}

.logo-page img {
    position: absolute;
    width: 15rem;
    margin-top: -5.5rem;
    margin-left: -4rem;
    z-index: 2;
}

.main-content {
    max-width: var(--page-max-width);
    margin: 0 auto;
    padding: var(--gap);
}

/*  content stays on the same position and the new content stacks on top of the old one */
.pages {
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 65px;
}

.section {
    min-height: 100vh;
}

.menu {
    background: var(--bg-alternative-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.05rem solid var(--light-blue-color);
    z-index: 1;

}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu h1 {
    font-size: 2.3rem;
    color: var(--primary-color);
    text-decoration: none;
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    list-style: none;
    display: flex;
    font-family: var(--text-font-family);
}

.menu ul li a {
    position: relative;
    display: block;
    padding: 2rem;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    left: 25%;
    width: 50%;
}

.menu-spacing {
    height: 65px;
}

.intro-content {
    position: relative;
    top: -8rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: stretch;
    gap: var(--gap);
    height: 100vh;
}

.intro-text-content,
.intro-img {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.intro-text-content h2 {
    font-size: 8rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}


.intro-img img {
    max-width: 100%;
    height: auto;
}

.tools-content {
    max-width: 80rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    height: 100vh;
    text-align: center;
}